// Loading Indicator
.#{$stencil-selector-prefix}loading-indicator{
  display:inline-block;
  padding: $spacing-smallest $spacing-smallest $spacing-smallest $spacing-large;
  background: url($global-path-images+"loading.svg") no-repeat left center;
  background-size: $spacing-medium;
  font-size: $font-size-small;
  transition: display 0.5 ease-in;

  &:after{
    content:"Loading...";
  }
}


// Overlay Loading Indicator
.#{$stencil-selector-prefix}overlay-container .#{$stencil-selector-prefix}loading-indicator{
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  padding: $spacing-small $spacing-small $spacing-small $spacing-larger;
  background-color: white;
  background-position: $spacing-small $spacing-small;
  border-radius: $global-border-radius;
}
