// Overlays
.#{$stencil-selector-prefix}overlay-container{
  @extend .#{$stencil-selector-prefix}flex-center;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  .#{$stencil-selector-prefix}overlay-backdrop{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }
}
