.#{$stencil-selector-prefix}font-size-smallest{
  font-size: $font-size-smallest;
}
.#{$stencil-selector-prefix}font-size-small{
  font-size: $font-size-small;
}
.#{$stencil-selector-prefix}font-size-regular{
  font-size: $font-size-regular;
}
.#{$stencil-selector-prefix}font-size-medium{
  font-size: $font-size-medium;
}
.#{$stencil-selector-prefix}font-size-large{
  font-size: $font-size-large;
}
.#{$stencil-selector-prefix}font-size-xlarge{
  font-size: $font-size-xlarge;
}
.#{$stencil-selector-prefix}font-size-xxlarge{
  font-size: $font-size-xxlarge;
}
.#{$stencil-selector-prefix}font-size-display{
  font-size: $font-size-display;
}
